@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  @apply w-full flex flex-col items-center justify-start gap-4 p-4 mx-auto;
  max-width: 640px;
  @screen lg {
    max-width: 1900px;
  }
  h1 {
    @apply font-semibold text-8xl w-full block px-3;
  }

  button,
  .button {
    @apply h-10 bg-primary flex justify-center items-center rounded-lg font-semibold text-14px px-3 cursor-pointer text-center;
    line-height: 1.2;
  }

  .item {
    @apply flex flex-col justify-start items-start gap-4 border rounded-2xl p-2 overflow-hidden bg-lightgrey;
    @apply w-1/2;
    @apply flex gap-4 flex-nowrap;
  }

}